:root {
    --border: 2px solid #BA86D0;
    --light_purple: #BA86D0;
}
html{
    height: 100vh;
}
/* Header*/
header{
    border-bottom: var(--border);
    text-align: center;
    text-transform: uppercase;
}
/*Body*/
body{
    margin: 0 auto;
    max-width: 700px;
    height: 100%;
}
/*main*/
main{
    margin-top: 2%;
}
/*pages-wrap*/
.pages-wrap{
    display: flex;
    flex-direction: column;  
    align-items: center;
    border: var(--border);
    cursor: pointer;
    background-color: #d2a9e485;
}
/*Images*/
img{
    max-width: 100%;
    max-height: 80%;
    border-top: var(--border);
}
.overlay{
    display: none;
}
/*report*/
.report{
    border: var(--border);
    margin: 0 auto 2% auto;
}
.report p{
    margin: 0 auto;
}
.report p,
h5{
    max-width: 300px;
}
h3{
    text-decoration: underline var(--light_purple);    
}
h3,
h2{
    text-align: center;
}
h2:hover{
    transform: translateY(1px);
    text-decoration: underline var(--light_purple);
}
h3,
button{
    cursor: pointer;
}
h5{
    margin: 5% auto 0 auto;
}
p{
    margin: 0;
}
.text_report{
    display: none;
}
button{
    margin: 3% auto;
    padding: 2%;
    background-color: #d2a9e485;
    border-radius: 6px;
    position: relative;
    left: 70%;
}
/*footer*/
footer{
    margin-top: 5%;
    border: var(--border);
    background-color: var(--light_purple);
    padding: 3%;
}
@media (min-width: 769px) {
    /*main*/
    main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1%;
    }
    .report{
        grid-row: 2;
        margin: -3% 0;
    }
    button:hover{
        background-color: #ceabdb4b;
        transform: translateY(1px);
    }
/*Page's image after adjusts*/
#CSM{
    position: relative;
}
.overlay{
    display: inherit;
    position: absolute;
    opacity: 0;
    transition: .3s ease-in;
    background-color: #fff;
    top:29%;
}
#CSM:hover .overlay{
    opacity: 1;
}
}
@media (min-width: 1000px) {
body{
    max-width: 950px;
}
.overlay{
    top: 23%;
}
}